<!DOCTYPE html>
<html>
<head>
    <title>YOLOv8 Image Detection</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/yolo_image.css' %}">
</head>
<body>
    <header>
        <h1>YOLOv8 Image Detection</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'live_page' %}">YOLOv8 Live</a>
            <a href="{% url 'image_detect_page' %}">YOLOv8 Image</a>
            <a href="{% url 'vision_image_page' %}">Vision Image</a>
            <a href="{% url 'vision_live_page' %}">Vision Live</a>
        </nav>
    </header>
    <div class="container">
        <h2>Upload Image for YOLOv8 Detection</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="image" required>
            <br>
            <button type="submit">Detect Objects</button>
        </form>

        {% if result_url %}
            <img src="{{ result_url }}" alt="Detection Result">
            <div class="objects">
                <h4>Detected Objects:</h4>
                <ul>
                    {% for obj in objects %}
                        <li>{{ obj }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</body>
</html>
